.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 100px;
  position: relative;
}
.ArtistGallery__title {
  color: #efb810;
  font-size: 4rem;
  position: absolute;
  top: 0;
}
.ArtistGallery__List {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.ArtistGallery__photo {
  min-height: 364px;
  object-fit: cover;
}
.ArtistGallery__wrapper {
  display: flex;
  place-items: center;
  flex-wrap: wrap;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  min-height: 90vh;
}
.ArtistGallery__ArtistCard {
  border: 10px solid #d9d9d9;
  border-radius: 10px;
}
.menu__Wrapper {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
